<mat-toolbar color="primary">

  <button mat-icon-button (click)="itemDrawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>

  <span class="spacer"></span>

  <button mat-button routerLink="/home">Home</button>
  <button mat-button routerLink="/profile">Profile</button>

  <button mat-button [matMenuTriggerFor]="importMenu">
    <mat-icon iconPositionEnd>keyboard_arrow_down</mat-icon>
    Import
  </button>

  <mat-menu #importMenu>
    <button mat-menu-item>Load Students</button>
    <button mat-menu-item>Load Payments</button>

  </mat-menu>
  <button routerLink="/login" mat-button>Logout</button>
</mat-toolbar>

<mat-drawer-container>
  <mat-drawer #itemDrawer opened="true" position="start" mode="side">
    <mat-list>
      <mat-list-item>

        <button mat-button routerLink="/dashboard">
          <mat-icon>dashboard</mat-icon>
          Dasboard
        </button>

      </mat-list-item>
      <mat-list-item>

        <button mat-button routerLink="/students">
          <mat-icon>dashboard</mat-icon>
          Students
        </button>

      </mat-list-item>
      <mat-list-item>

        <button mat-button routerLink="/payments">
          <mat-icon>dashboard</mat-icon>
          Payments
        </button>

      </mat-list-item>
    </mat-list>
  </mat-drawer>

  <mat-drawer-content>
    <div class="sytleDrawer">
      <router-outlet>

      </router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>