<mat-toolbar color="primary">

  <button mat-icon-button (click)="itemDrawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>

  <span class="spacer"></span>

  <button mat-button routerLink="/admin/home">Home</button>
  <button mat-button routerLink="/admin/profile">Profile</button>
  @if (authService.roles.includes('ADMIN')) {
  <button mat-button [matMenuTriggerFor]="importMenu">
    <mat-icon iconPositionEnd>keyboard_arrow_down</mat-icon>
    Import
  </button>
  }
  <mat-menu #importMenu>
    <button mat-menu-item routerLink="/admin/loadStudents">Load Students</button>
    <button mat-menu-item routerLink="/admin/loadPayments">Load Payments</button>

  </mat-menu>
  @if (authService.isAuthenticated) {
  <button mat-button>
    {{authService.username}}
  </button>
  }
  <button mat-raised-button color="accent" (click)="logout()">Logout</button>
</mat-toolbar>

<mat-drawer-container>
  <mat-drawer #itemDrawer opened="true" position="start" mode="side">
    <mat-list>
      <mat-list-item>

        <button mat-button routerLink="/admin/dashboard">
          <mat-icon>dashboard</mat-icon>
          Dashboard
        </button>

      </mat-list-item>
      <mat-list-item>

        <button mat-button routerLink="/admin/students">
          <mat-icon>dashboard</mat-icon>
          Students
        </button>

      </mat-list-item>
      <mat-list-item>

        <button mat-button routerLink="/admin/payments">
          <mat-icon>dashboard</mat-icon>
          Payments
        </button>

      </mat-list-item>
    </mat-list>
  </mat-drawer>

  <mat-drawer-content>
    <div class="sytleDrawer">
      <router-outlet>

      </router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>